<div class="collect">
	<header-crumbs title="#/index/collect:{{title}}"></header-crumbs>
	<div class="main-block">
		<div class="title">信息采集</div>
		<div class="btn btn-yellow" ng-click="stateGo('index.collectCar')">车辆信息</div>
		<div class="btn btn-blue" ng-click="stateGo('index.collectPeople')">人员盘查</div>
		<div class="btn btn-red" ng-click="stateGo('index.collectReality')">三实信息</div>
		<div class="btn btn-yellow" ng-click="stateGo('index.collectAddress')">地址树管理</div>
		<div class="btn btn-blue">上传视频</div>
		<div class="btn btn-red" ng-click="stateGo('index.collectSocialResource')">社会资源信息</div>
	</div>
</div>