<div class="homePage">
	<header-crumbs title="#/index/homePage:{{title}}"></header-crumbs>

	<div class="main-block">
		<div class="title">按钮</div>
		<div class="btn btn-default">按钮 默认 (btn btn-default)</div>
		<div class="btn btn-red">按钮 红色 (btn btn-red)</div>
		<div class="btn btn-blue">按钮 蓝色 (btn btn-blue)</div>
		<div class="btn btn-yellow">按钮 黄色 (btn btn-yellow)</div>
		<div class="btn btn-light-red">按钮 浅红色 (btn btn-light-red)</div>
		<div class="btn btn-light-blue">按钮 浅蓝色 (btn btn-light-blue)</div>

		<div style="height: 30px"></div>

		<div class="btn btn-default disable">禁用按钮 默认 (btn btn-default)</div>
		<div class="btn btn-red disable">禁用按钮 红色 (btn btn-red)</div>
		<div class="btn btn-blue disable">禁用按钮 蓝色 (btn btn-blue)</div>
		<div class="btn btn-yellow disable">禁用按钮 黄色 (btn btn-yellow)</div>
		<div class="btn btn-light-red disable">禁用按钮 浅红色 (btn btn-light-red)</div>
		<div class="btn btn-light-blue disable">禁用按钮 浅蓝色 (btn btn-light-blue)</div>
	</div>

	<div class="grid">
		<table border="0" cellspacing="0" cellpadding="6">
			<tr>
				<th width="5%" ng-click="activeAll(messagelist,isAllActive(messagelist))"><span class="click" ng-class="isAllActive(messagelist)?'active':'' "></span></th>
				<th width="15%">日期</th>
				<th width="60%">信息内容</th>
				<th width="10%">操作</th>
			</tr>
			<tr ng-repeat="item in messagelist" ng-class="item.isRead ? 'unread' : 'read'">
				<td ng-click="item.isActive = !item.isActive"><span class="click" ng-class="item.isActive?'active':'' "></span></td>
				<td ng-bind="item.date">2016.07.21</td>
				<td class="text-left" ng-bind="item.content" ng-click="item.isRead = true">456</td>
				<td>
					<div class="btn btn-small btn-light-red">×</div>
				</td>
			</tr>
		</table>
	</div>

	<div class="main-block">
		<div class="title">表单样式</div>
		<select ng-init="jude.name = jude.nameArray[0]" ng-model="jude.name" ng-options="x.name for x in jude.nameArray"></select>
		<div></div>
		<input type="text" class="block" ng-model="jude.value" style="border: 1px solid #ccc;">
		<div></div>
		<div class="btn btn-default" ng-click="jude.goJude()">Jude Input Value</div>
		<div></div>
		<div ng-bind="jude.result"></div>
	</div>

	<div class="grid">
		<div class="btn btn-default" ng-click="showDialog()">dialog</div>
	</div>

	当前页码： <input type="text" ng-model="currentPageNum" style="border: 1px solid #ccc;">
	总页码： <input type="text" ng-model="allMessage" style="border: 1px solid #ccc;">

	<paging-link page-nums=10 test=true></paging-link>

	<div class="grid">
		<move-bar html="<div ng-repeat='item in jude.nameArray' ng-bind='item.name'></div>"></move-bar>
	</div>

</div>



