<div class="jobs">
	<header-crumbs title="#/index/jobs:{{title}}"></header-crumbs>
	<div class="jobbox">
		<div class="main-block">
			<div class="title">任务列表</div>
			<div class="">
				<span>请选择工作日期</span>
				<input class="laydate-icon" onclick="laydate()"style="width: 30%;padding-right: 5px;"placeholder="">
			</div>
			<ul>
				<li><span>1、</span>2017-02-13到区政府执勤<span class="Progress">已完成</span></li>
				<li><span>2、</span>采集上东国际10-15栋房屋信息<span class="Progress">完成25%</span></li>
				<li><span>3、</span>采集物价局小区1栋所有房屋信息<span class="Progress">已完成</span></li>
				<li><span>4、</span>2017-02-13到北山派出所开会<span class="Progress">已完成</span></li>
			</ul>
			
		</div>
		<div class="main-block work">
			<div class="title">本日工作</div>
			<textarea name="" rows="" cols=""></textarea>	
		</div>
		<div class="btnBox">
			<div class="btn btn-blue bttn">发送</div>
		</div>
		
	</div>

	
</div>