<div class="mission">
	<header-crumbs title="#/index/mission:{{title}}"></header-crumbs>
	<div class="missionBox">
		<div class="btnbox"> 
			<div class="btn btn-yellow">已开始</div>
			<div class="btn btn-blue">未开始</div>
			<div class="btn btn-red">已完成</div>	
		</div>
		<div class="grid">
			<table border="0" cellspacing="0" cellpadding="6">
				<tr>
					<th width="5%" >级别</th>
					<th width="15%">截止日期</th>
					<th width="60%">任务内容</th>
					<th width="15%">进度</th>
				</tr>
				<tr>
					<td ><span class="click"></span></td>
					<td >2017.02.03</td>
					<td class="text-left">执勤任务：2017年2月10日到被删派出所执勤</td>
					<td>
						<div class="ui_jobs_progress red">
							<div class="bg" style="width: 70%;">	
							</div>
							<div class="mask">
								<div class="mask_img"></div>
							</div>
							<span class="number"><span>70</span>%</span>
						</div>
						<p>
							<span class="ui_fc_gray ui_fs_12">30/200</span>
							
						</p>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
</div>