<div class="patrol">
	<header-crumbs title="#/index/patrol:{{title}}"></header-crumbs>
	<div class="patrolBox">
		<div class="main-block">
			<div class="title">巡逻签到</div>
			<span class="blue">2017年1月6日</span> 
			<span class="blue">18：35</span>
			<div class="btn btn-blue bttn patrolbtn">签到</div>
		</div>	
		<div class="main-block work">
			<div class="title">巡逻日志</div>
			<textarea name="" rows="" cols="" placeholder="请输入您的巡逻日志"></textarea>
			<div class="ui_image-updata cl">
					<div class="image">
						<div class="image_block">
							<img src="img/icon/block.jpg" alt="">
						</div>
						<div class="image_box">
							<img src="img/sign/photo.png" alt="">
						</div>	
					</div>
					
					<div class="image" style="height: 100px;">
						<div class="image_block">
							<img src="img/block.jpg" alt="">
						</div>
						<div class="image_box">
							<img src="img/sign/addImage.png" alt="">
						</div>
					</div>
				</div>
		</div>
		<div class="btnBox">
			<div class="btn btn-blue bttn">提交</div>
		</div>
	</div>
	
</div>