<div class="place">
	<header-crumbs title="#/index/placeList:{{title}}" usedlocalstorage='used' usedlevel=2></header-crumbs>

	<!-- <div class="addressTree cl" ng-init="flag = false" >
		<span>地址树选择 : </span>
		<select style="width: 15%" ng-init="address.result[0] = address.list[0][address.index[0]]" ng-model="address.result[0]" class="block" ng-options="x['name'] for x in address.list[0]" ng-change="address.change('0')"></select>
		<select style="width: 15%" ng-init="address.result[1] = address.list[1][address.index[1]]" ng-model="address.result[1]" class="block" ng-options="x['name'] for x in address.list[1]" ng-change="address.change('1')"></select>
		<select style="width: 15%" ng-init="address.result[2] = address.list[2][address.index[2]]" ng-model="address.result[2]" class="block" ng-options="x['name'] for x in address.list[2]" ng-change="address.change('2')"></select>
		<select style="width: 15%" ng-init="address.result[3] = address.list[3][0]" ng-model="address.result[3]" class="block" ng-options="x['name'] for x in address.list[3]" ng-change="address.change('3')"></select>
		<div class="add-plice">+</div>
		<div class="btn btn-blue search" ng-click="flag = true"><i></i>查询</div>

	</div> -->
	<div class="placeList" ng-if="flag">
		<ul>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
			<li>
				<h4><div style="width: 0px; height: 0px; border-left: 22px solid #f00; border-top: 22px solid #f00;border-bottom: 22px solid #fff; border-right: 22px solid #FFFFFF;display: inline-block;float: left;"></div>懒猫经典睡吧</h4>
				<div class="grade"><span>84分</span><span>橙色</span></div>
				<div class="detail"><span>详细信息</span><span class="right">></span></div>
				<span class="del">删除</span>
			</li>
		</ul>
	</div>
	<paging-link page-nums=15 ng-if="flag"></paging-link>
</div>