<div class="collect">
	<header-crumbs title="#/index/collect:{{title}}" usedlocalstorage="list" list='[{"startName":"信息采集","status":"#/index/collect"},{"startName":"社会资源信息","status":"#/index/collectSocialResource"}]'></header-crumbs>
	<div>
		<fieldset>
			<legend style="color: #024987">看守所、拘留所信息</legend>
			<ul>
				<li>探视人员会见信息</li>
				<li>为在押人员送钱送物人员信息</li>
				<li>被拘留人拨打亲情电话信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">消防大队信息</legend>
			<ul>
				<li>全区消防审批单位信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">交警大队信息</legend>
			<ul>
				<li>涉及交通局</li>
				<li>工程车信息</li>
				<li>校车、客运车辆及车主驾驶员信息</li>
				<li>涉及运管所</li>
				<li>出租车（含货运出租）车主、驾驶员信息</li>
				<li>非法营运车辆处罚信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">旅游公司信息</legend>
			<ul>
				<li>旅行社信息定期导入</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">供电、供水、供油、供气信息</legend>
			<ul>
				<li>用户登记信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">教育局信息</legend>
			<ul>
				<li>学校、教师、学生学籍基本信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">银行信息</legend>
			<ul>
				<li>银行网店及ATM信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">行政执法信息</legend>
			<ul>
				<li>全区城管行政处罚人员名单</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">卫生局信息</legend>
			<ul>
				<li>接种疫苗信息</li>
				<li>精神病人</li>
				<li>疑似精神病人信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">通信公司信息</legend>
			<ul>
				<li>固话、小灵通登记信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">公交公司信息</legend>
			<ul>
				<li>公交IC卡持卡人信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">烟草零售业信息</legend>
			
		</fieldset>
		<fieldset>
			<legend style="color: #024987">工商信息</legend>
			<ul>
				<li>工商企业登记信息</li>
				<li>个体工商业主基本信息</li>
				<li>全区中介机构信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">税务局信息</legend>
			<ul>
				<li>纳税人信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">网吧办理会员卡人员信息</legend>
			
		</fieldset>
		<fieldset>
			<legend style="color: #024987">劳动保障局信息</legend>
			<ul>
				<li>社保人员信息</li>
				<li>就业登记信息</li>
				<li>劳务市场人员登记信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">学生学籍信息</legend>
			
		</fieldset>
		<fieldset>
			<legend style="color: #024987">社会救助人员信息</legend>
			
		</fieldset>
		<fieldset>
			<legend style="color: #024987">殡葬人员信息</legend>
			
		</fieldset>
		<fieldset>
			<legend style="color: #024987">司法局信息</legend>
			<ul>
				<li>律师信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">保安公司信息</legend>
			<ul>
				<li>保安信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">全区工程建设单位信息</legend>
			
		</fieldset>
		<fieldset>
			<legend style="color: #024987">医院信息</legend>
			<ul>
				<li>就诊挂号（可实时登记）信息</li>
				<li>住院信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">停车场信息</legend>
			
		</fieldset>
		<fieldset>
			<legend style="color: #024987">信访局信息</legend>
			<ul>
				<li>信访人员信息</li>
				<li>拨打市长公开电话表示不满人员信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">法制大队信息</legend>
			<ul>
				<li>笔录人员信息</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend style="color: #024987">小广告、小卡片信息</legend>			
		</fieldset>
		<fieldset>
			<legend style="color: #024987">物流快递、外卖信息</legend>			
		</fieldset>
		<fieldset>
			<legend style="color: #024987">房产中介信息</legend>			
		</fieldset>
		<fieldset>
			<legend style="color: #024987">门禁系统信息</legend>			
		</fieldset>
	</div>
</div>