<div class="judge">
	<header-crumbs title="#/index/judge:{{title}}"></header-crumbs>
	<div>
		<ul class="items">
			<li ng-click="go('index.judgePublic')">
				<img src="/police_web/img/nav/s1.png">
				<div>行业场所</div>
			</li>
			<li ng-click="go('index.judgeCase')">
				<img src="/police_web/img/nav/s2.png">
				<div>案件</div>
			</li>
			<li ng-click="go('index.judgePeople')">
				<img src="/police_web/img/nav/s3.png">
				<div>人员</div>
			</li>
			<li ng-click="go('index.judgeFire')">
				<img src="/police_web/img/nav/s4.png">
				<div>消防火灾</div>
			</li>
			<li ng-click="go('index.caseInput')">
				<img src="/police_web/img/nav/s5.png">
				<div>案件录入</div>
			</li>
			<li ng-click="go('index.specialPeople')">
				<img src="/police_web/img/nav/s6.png">
				<div>特殊重点人员录入</div>
			</li>
			<li ng-click="go('index.disputeInput')">
				<img src="/police_web/img/nav/s7.png">
				<div>矛盾纠纷录入</div>
			</li>
		</ul>
	</div>
</div>