<choose-box></choose-box>


<!-- <div class='chooseBox'>
	<div class="search">
		<i></i>
		<input type="text">
	</div>

	<div class="item" ng-repeat="(key, value) in dataset">
		<div class="item-btn cl">
			<div class="fold show"></div>
			<div class="name">XXX</div>
		</div>
		<div class="list">
			<div class="item">
				<div class="item-btn cl">
					<div class="fold"></div>
					<div class="name">XXXX</div>
				</div>
				<div class="list">
					


				</div>
			</div>
		</div>
	</div>

</div> -->