<div class="checkQueryLog">
	<div class="popnewinfo">
		<span class="addTitle">查询详情</span>
	</div>
	<div class="new-body checkQueryLogbody">
		<div style="font-size:16px;margin-top: 10px; ">
			<label class="checkQueryLogPolice">警员姓名:  </label><p style="display: inline-block;color: black;" ng-bind="data.name"></p>
		</div>
		<div style="font-size:16px;margin-top: 10px; ">
			<label class="checkQueryLogStation">所属公安局:  </label><p style="display: inline-block;color: black;" ng-bind="data.station"></p>			
		</div>
		<div style="font-size:16px;margin-top: 10px; ">
			<label class="checkQueryLogWay">查询方法:  </label><p style="display: inline-block;color: black;" ng-bind="data.queryWay"></p>
		</div>
		<div style="font-size:16px;margin-top: 10px; ">
			<label class="checkQueryLogInfo">查询内容:  </label><p style="display: inline-block;color: black;" ng-bind="data.info"></p>
		</div>
		<div style="font-size:16px;margin-top: 10px; ">
			<label class="checkQueryLogTime">查询时间:  </label><p style="display: inline-block;color: black;" ng-bind="data.time"></p>
		</div>
		<div style="font-size:16px;margin-top: 10px; ">
			<label class="checkQueryLogUse">查询用途:  </label><p style="display: inline-block;color: black;" ng-bind="data.queryUse"></p>
		</div>
	</div>
</div>