<div class="prostitutionCheck">
	
	<div class="popnewinfo">
		<span class="addTitle">其他检查项</span>
	</div>
	<div class="new-body">
		<div class="form-box">
			<label>扣除分数 : </label>
			<input type="" name="" style="border: 1px solid #ddd; height: 25px;" ng-model="options.ds_pointsscore">		
		</div>
		<div class="desc" style="margin-top: 10px">
			<span >描述：</span>
			<textarea placeholder="请输入扣分原因..." ng-model="options.ds_description" style="width: 86%"></textarea>
		</div>
		
	</div>

	<!-- <div class="div-sub">
		<div class="btn clo" style="float: right;border-radius: 20px; color: #666;" ng-click="close()">取消</div>
		<div class="btn btn-default " style="float: right;border-radius: 20px;" ng-click="submit()">确定</div>
	</div> -->
	<div><button aria-label="Dismiss" class="ngdialog-close"></button></div>
</div>