<div class="dangers">
	<input type="file" id="uploadImage" style="display: none;" onchange="angular.element(this).scope().fileChange()">
	<div class="popnewinfo">
		<span class="addTitle">房屋信息</span>
	</div>
	<div class="new-body addRealHouse">
		<div class="formBox">
			<label>警务责任区:</label><span class="block" ng-bind="detail['ds_dutyplace-ds_name']" style="width: 187px;"></span>
			<label class="right">责任区民警:</label><input id="" readonly="readonly" ng-model="detail['ds_dutypolice-ds_name']">
		</div>
		<div class="formBox">
			<label>房屋地址:</label><input type="text" ng-model="detail.ds_address" readonly="readonly">
			<label class="right">栋号:</label><input id="" ng-model="detail.ds_buildingnum" readonly="readonly">
		</div>	
		<div class="formBox">
			<label>房间号:</label><input type="text" ng-model="detail.ds_roomfigure" readonly="readonly">
			<label class="right">委组:</label><input type="text" ng-model="detail.ds_household" readonly="readonly">	
		</div>
		<div class="formBox">
			<label>单元号:</label><input type="text" ng-model="detail.ds_unit" readonly="readonly">	
			<label class="right">产权号:</label><input type="text" ng-model="detail.ds_property" readonly="readonly">	
			
		</div>
		<div class="formBox">
			<label>房屋结构:</label><input type="text" ng-model="detail.ds_structure">	
			<label class="right">实际房屋:</label><input type="text" ng-model="detail.ds_realityroom" readonly="readonly">	
			
		</div>
		<div class="formBox">
			<label>安全状况:</label><input type="text" ng-model="detail.ds_securitytype" readonly="readonly">	
			<label class="right">租赁类型:</label><span class="block" ng-bind="detail.ds_kind.name" style="width: 187px;"></span>
			
		</div>
		<div class="formBox">
			<label>出租时间:</label><input type="text" class="timeInput1" ng-model="detail['ds_date']" readonly="readonly">

			<label class="right">出租面积:</label><input type="text" ng-model="detail.ds_usingarea" readonly="readonly">	
			
		</div>
		<div class="formBox">
			<label>出租间数:</label><input type="text" ng-model="detail.ds_rentroomnum" readonly="readonly">	
			
		</div>		
	</div>

	<div><button aria-label="Dismiss" class="ngdialog-close"></button></div>
</div>