<div class="dangers">
	<input type="file" id="uploadImage" style="display: none;" onchange="angular.element(this).scope().fileChange()">
	<div class="popnewinfo">
		<span class="addTitle">人员信息</span>
	</div>
	<div class="new-body addRealHouse">
		<div class="formBox">
			<label>姓名:</label><input type="text" ng-model="detail['ds_person_ref-ds_name']" readonly="readonly">	
			<label class="right">身份证号:</label><input id="" ng-model="detail['ds_person_ref-ds_id']" readonly="readonly">
		</div>
		<div class="formBox">
			<label>出生日期:</label><input type="text" ng-model="detail.birth" readonly="readonly">
			<label class="right">性别:</label><input id="" ng-model="detail.sex" readonly="readonly">
		</div>
		<div class="formBox">
			<label>入住时间:</label><input type="text" class="timeInput1 laydate-icon" ng-model="detail['ds_startdate']" readonly="readonly">
			<label class="right">截止时间:</label><input id="" class="timeInput2 laydate-icon" ng-model="detail['ds_enddate']" readonly="readonly">
		</div>		
		<div class="formBox">
			<label>文化程度:</label><span class="block" style="width: 187px" ng-bind="detail['ds_person_ref-ds_education']"></span>	
			<label class="right">民族:</label><span class="block" style="width: 187px" ng-bind="detail['ds_person_ref-ds_nation']"></span>	
			
		</div>
		<div class="formBox">
			<label>婚姻状态:</label><span class="block" style="width: 187px" ng-bind="detail['ds_person_ref-ds_marriage']"></span>
			<label class="right">户口类别:</label><span class="block" style="width: 187px" ng-bind="detail['ds_person_ref-ds_account']"></span>
			
		</div>
		<div class="formBox">
			<label>血型:</label><span class="block" style="width: 187px" ng-bind="detail['ds_person_ref-ds_bloodtype']"></span>
			<label class="right">联系电话1:</label><input type="text" ng-model="detail['ds_person_ref-ds_phone']" readonly="readonly">				 
		</div>
		<div class="formBox">
			<label>联系电话2 :</label><input type="text" ng-model="detail['ds_person_ref-ds_phone2']" readonly="readonly">	
			<label class="right">QQ :</label><input type="text" ng-model="detail['ds_person_ref-ds_qq']" readonly="readonly">	
			
		</div>
		<div class="formBox">
			<label>微信:</label><input type="text" ng-model="detail['ds_person_ref-ds_wechat']" readonly="readonly">
			<label class="right">身高:</label><input type="text" ng-model="detail['ds_person_ref-ds_height']" readonly="readonly">	
			
		</div>
		<div class="formBox">
			<label>现住址:</label><input type="text" ng-model="detail['ds_person_ref-ds_address']" style="width: 76%;" readonly="readonly">			
		</div>	
		<div class="formBox">			
			<label>身份证照片：</label><div class="imgBox fileName" data-fileid="" ng-bind="detail.aheadpic" style="width: 67%"></div><span class="Btn look" ng-click="lookImg()">查看</span>
		</div>
	</div>

	<div><button aria-label="Dismiss" class="ngdialog-close"></button></div>
</div>