<div class="adddisputeinput">
	<div class="popnewinfo">
		<span class="addTitle">涉及人员</span>
	</div>
	<div class="new-body adddisputeinputpersonbody">
		<div style="font-size:16px;margin-top: 10px; ">
			<label class="adddisputeinputpersonfont">姓名:  </label><p style="display: inline-block;color: black;" ng-bind="data['ds_name']"></p>
		</div>
		<div style="font-size:16px;margin-top: 10px; ">
			<label class="adddisputeinputpersonfont">身份证号:  </label><p style="display: inline-block;color: black;" ng-bind="data['ds_id']"></p>			
		</div>
		<div style="font-size:16px;margin-top: 10px; ">
			<label class="adddisputeinputpersonfont">联系电话:  </label><p style="display: inline-block;color: black;" ng-bind="data['ds_phone']"></p>
		</div>
		<div style="font-size:16px;margin-top: 10px; ">
			<label class="adddisputeinputpersonfont">住址:  </label><p style="display: inline-block;color: black;" ng-bind="data['ds_address']"></p>
		</div>
	</div>
</div>