<div class="caseSearch">
	<header-crumbs title="#/index/caseSearch:{{title}}"></header-crumbs>
	<div class="caseSearchBox">
		<div class="main-block main2">
			<div class="title">案件查询</div>
			<div class="inputs">
				<span class="caseClass">案件类别</span>
				<select>
					<option label="请选择案件类别" value="object:66" selected="selected"></option>
					<option label="所有派出所" value="object:67">所有派出所</option>
					<option label="所有警员" value="object:68">所有警员</option>
					<option label="所有行业场所" value="object:69">所有行业场所</option>
					<option label="奢岭派出所" value="object:70">奢岭派出所</option>
				</select>
				<span class="keyword">关键字</span>
				<input type="" name="" id="" value="" placeholder="请输入关键字"/>
				<span class="caseTime">案件时间</span>
				<input class="laydate-icon" onclick="laydate()"style="width: 30.5%;">
				<span class="people">人员</span>
				<input type="" name="" id="" value="" placeholder="请输入相关人员名字"/>
			</div>
			<div class="btn btn-blue">查询</div>
		</div>
		<div class="main-block main1">
			<div class="title">查询结果</div>
			<ul>
				<li><span>案件名称：</span><span>长春市光复路市场纵火案</span></li>
				<li><span>案件类别：</span><span>刑事案件</span></li>
				<li><span>案件时间：</span><span>2016年12月2日</span></li>
				<li><span>作案人员：</span><span>赵四、王五</span></li>
				<li><span>参与警员：</span><span>王朝、马汉</span></li>
				<li><span>案件描述：</span><span>由于案发前一日，赵四和王五去光复路市场买肥皂，与卖货员王某发生争吵。次日赵四和王五拎着两桶汽油去找王某报复，点燃两桶汽油导致光复路市场大面积着火，有4人死亡，3人重度烧伤。</span></li>
			</ul>
		</div>
	</div>				
</div>

