<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">	
		<link rel="stylesheet" type="text/css" href="/manage/css/default.css"/>
		<link rel="stylesheet" type="text/css" href="/manage/css/common.css"/>
		<title></title>
	</head>
	<body>
		<div class="clueSearch">
			<header-crumbs title="#/index/clueSearch:{{title}}"></header-crumbs>
			<div class="clueSearchBox">
				<div class="main-block">
					<div class="title">线索查询</div>
					<span class="keyword">关键字</span>
					<input type="" name="" id="" value="" placeholder="请输入关键字"/>
					<div class="btn btn-blue">查询</div>
				</div>
				<div class="main-block main1">
					<div class="title">查询结果</div>
					<ol>
						<li>2017年2月16日长春光复路市场发生火灾</li>
						<li>2016年12月2日长春光复路市场发生火灾</li>
						<li>2016年8月5日长春光复路市场发生火灾</li>
					</ol>
				</div>
			</div>				
		</div>
	</body>
</html>

