<div class="contactUs">
	<header-crumbs title="#/index/contactUs:{{title}}"></header-crumbs>
	<div class="contactUsBox">	
		<p class="advise">如果您有任何意见或建议，欢迎通过邮件或电话联系我们。同时，欢迎您到我们分局参观或走访，来坊前请于我们的工作人员联系，我们将安排工作人员接见您的到来，感谢您对我分局的信任和支持！</p>
		<h4>工作时间</h4>
		<p class="workTime">(上午 9：00--12：00&nbsp;下午 14:00--17:30)</p>
		<h4>分局地址</h4>
		<div class="address">分局地址：双阳区-东南大路与西北街交汇</div>
		<div class="path">乘车路线:可乘2路、3路、115路、288路等，在东南大路下车西行50米即可。</div> 
		<h4>联系方式</h4>
		<div class="tel">分局电话：0431-88665544</div>
		<div class="url">
			官方网址：www.shuangyangfenju.com
		</div>
		<div class="mail">
			意见、建议反馈箱：shuangyangfenju@163.com
		</div>
	</div>
</div>

