<div class="jobs">
	<header-crumbs title="#/index/jobs:{{title}}"></header-crumbs>
	<div class="jobbox">
		<div class="btnbox"> 
			<div class="btn btn-yellow">未完成</div>
			<div class="btn btn-blue">已完成</div>
		</div>
	</div>

	<div class="grid">
		<table border="0" cellspacing="0" cellpadding="6">
		<tbody><tr>
			<th width="5%">级别</span></th>
			<th width="15%">截止日期</th>
			<th width="55%">任务内容</th>
			<th width="15%">进度</th>
		</tr>
		<tr>
			<td><span class="click"></span></td>
			<td>2016.07.21</td>
			<td class="text-left">456</td>
			<td>
				<div class="btn btn-light-blue btn-small">√</div>
				<div class="btn btn-small btn-light-red">×</div>
			</td>
		</tr>
		<tr>
			<td><span class="click"></span></td>
			<td>2016.07.21</td>
			<td class="text-left">456456456456456456456456456456456456456456456456456456456456456456456456456456456456456456456</td>
			<td>
				<div class="btn btn-light-blue btn-small">√</div>
				<div class="btn btn-small btn-light-red">×</div>
			</td>
		</tr>
		<tr>
			<td><span class="click"></span></td>
			<td>2016.07.21</td>
			<td class="text-left">456</td>
			<td>
				<div class="btn btn-light-blue btn-small">√</div>
				<div class="btn btn-small btn-light-red">×</div>
			</td>
		</tr>
		</tbody></table>
	</div>
</div>