<div class="placeSearch">
	<header-crumbs title="#/index/placeSearch:{{title}}"></header-crumbs>
	<div class="placeSearchBox">
		<div class="main-block">
			<div class="title">场所查询</div>
			<span class="Name">法人姓名</span>
			<input type="" name="" id="" value="" placeholder="请输入法人姓名"/>
			<span class="placeName">场所名称</span>
			<input type="" name="" id="" value="" placeholder="请输入场所名称"/>
			<div class="btn btn-blue">查询</div>
		</div>
		<div class="main-block main1">
			<div class="title">查询结果</div>
			<ul>
				<li><span>法人姓名：</span><span>李成达</span></li>
				<li><span>场所名称：</span><span>凯悦时尚宾馆</span></li>
				<li><span>法人身份证号：</span><span>22010219761234</span></li>
				<li><span>场所地址：</span><span>双阳区-临河街道-岭东路-1234号</span></li>
			</ul>
		</div>
	</div>				
</div>


