<div class="release">
	<header-crumbs title="#/index/release:{{title}}"></header-crumbs>
	<div class="release-box cl">
	


		<div class="main-block">
			<div class="title">参与人员</div>
			<input type="text" class="participants" placeholder="请输入场所名称或警员姓名或警员编号">
			<select  class="select1">
				<option>yyy1</option>	
				<option>yyy2</option>
				<option>yyy3</option>
				<option>yyy4</option>	
			</select>

		</div>
		<div class="main-block">
			<div class="title">任务类型</div>
			<ul class="tack-style">
			<li>
				<span class="class2">设置截止日期</span>
				<input  class="class1" onclick="laydate({fixed: true })"/>
			</li>
			<li>
				<span class="class2">设置任务级别</span>
				<select ><option label="验证是否全为空或空格" value="object:60" selected="selected">验证是否全为空或空格</option><option label="验证是否为手机号" value="object:61">验证是否为手机号</option><option label="验证是否全部为中文" value="object:62">验证是否全部为中文</option></select>
			</li>
			<li>
				<span class="class2">设置任务级别</span>
				<select ><option label="验证是否全为空或空格" value="object:60" selected="selected">验证是否全为空或空格</option><option label="验证是否为手机号" value="object:61">验证是否为手机号</option><option label="验证是否全部为中文" value="object:62">验证是否全部为中文</option></select>
			</li>
			</ul>

		</div>


		<div class="main-block">
			<div class="title">任务描述</div>
			<ul class="tack-style">
			<li>
				<span class="class2">设置任务级别</span>
				<select ><option label="验证是否全为空或空格" value="object:60" selected="selected">验证是否全为空或空格</option><option label="验证是否为手机号" value="object:61">验证是否为手机号</option><option label="验证是否全部为中文" value="object:62">验证是否全部为中文</option></select>
			</li>
			<li>
				<span class="class2">设置任务级别</span>
				<select ><option label="验证是否全为空或空格" value="object:60" selected="selected">验证是否全为空或空格</option><option label="验证是否为手机号" value="object:61">验证是否为手机号</option><option label="验证是否全部为中文" value="object:62">验证是否全部为中文</option></select>
			</li>
			</ul>

			<span class="class3">请填写任务描述</span>
			<textarea name="" rows="40" cols="100" ng-model = "textAreas"></textarea>

		</div>

		


	
	

</div>

</div>