<div class="scale">
	<header-crumbs title="#/index/scale:{{title}}"></header-crumbs>
	<div class='box'>
		<div class="title1">
			治安检查标准
		</div>
		<div class="title2">
			消防检查表标准
		</div>
		<div class="section1">
			<ul >
				<li class="list" ng-init="some1 = false" ng-click="some1 = !some1">
					<p><img ng-src="{{some1?'/manage/img/icon/hide.jpg' : '/manage/img/icon/show.jpg'}}"/>为什么没有通过审核？</p>
					<ul class="reason" ng-if="some1">
						<li>(1)有发生火灾不能及时灭火的隐患;</li>
						<li>(2)有发生火灾不能及时灭火的隐患;</li>
						<li>(3)有发生火灾不能及时灭火的隐患;</li>
						<li>(4)有发生火灾不能及时灭火的隐患;</li>
					</ul>
				</li>
				<li class="list" ng-init="some2=false" ng-click="some2=!some2">
					<p><img ng-src="{{some2?'/manage/img/icon/hide.jpg':'/manage/img/icon/show.jpg'}}"/>为什么缺少消防栓会扣分？</p>
					<ul class="reason" ng-if="some2">
						<li>(1)有发生火灾不能及时灭火的隐患;</li>
						<li>(2)有发生火灾不能及时灭火的隐患;</li>
						<li>(3)有发生火灾不能及时灭火的隐患;</li>
						<li>(4)有发生火灾不能及时灭火的隐患;</li>
					</ul>
				</li>
				<li class="list" ng-init="some3=false" ng-click="some3=!some3">
					<p><img ng-src="{{some3?'/manage/img/icon/hide.jpg':'/manage/img/icon/show.jpg'}}"/>为什么没有通过审核？</p>
					<ul class="reason" ng-if="some3">
						<li>(1)有发生火灾不能及时灭火的隐患;</li>
						<li>(2)有发生火灾不能及时灭火的隐患;</li>
						<li>(3)有发生火灾不能及时灭火的隐患;</li>
						<li>(4)有发生火灾不能及时灭火的隐患;</li>
					</ul>
				</li>
				<li class="list" ng-init="some4=false" ng-click="some4=!some4">
					<p><img ng-src="{{some4?'/manage/img/icon/hide.jpg':'/manage/img/icon/show.jpg'}}"/>为什么缺少消防栓会扣分？</p>
					<ul class="reason" ng-if="some4">
						<li>(1)有发生火灾不能及时灭火的隐患;</li>
						<li>(2)有发生火灾不能及时灭火的隐患;</li>
						<li>(3)有发生火灾不能及时灭火的隐患;</li>
						<li>(4)有发生火灾不能及时灭火的隐患;</li>
					</ul>
				</li>
				<li class="list" ng-init="some5=false" ng-click="some5=!some5">
					<p><img ng-src="{{some5?'/manage/img/icon/hide.jpg':'/manage/img/icon/show.jpg'}}"/>为什么没有通过审核？</p>
					<ul class="reason" ng-if="some5">
						<li>(1)有发生火灾不能及时灭火的隐患;</li>
						<li>(2)有发生火灾不能及时灭火的隐患;</li>
						<li>(3)有发生火灾不能及时灭火的隐患;</li>
						<li>(4)有发生火灾不能及时灭火的隐患;</li>
					</ul>
				</li>
				<li class="list"ng-init="some6=false" ng-click="some6=!some6">
					<p><img ng-src="{{some6?'/manage/img/icon/hide.jpg':'/manage/img/icon/show.jpg'}}"/>为什么缺少消防栓会扣分？</p>
					<ul ng-if="some6">
						<li>(1)有发生火灾不能及时灭火的隐患;</li>
						<li>(2)有发生火灾不能及时灭火的隐患;</li>
						<li>(3)有发生火灾不能及时灭火的隐患;</li>
						<li>(4)有发生火灾不能及时灭火的隐患;</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>