<div class="search">
	<header-crumbs title="#/index/search:{{title}}"></header-crumbs>
	<div class="searchBox">
		<div class="main-block">
			<div class="title">搜索查询</div>
			<input type="" name="" id="" value="" placeholder="请输入您要查询的内容"/>
			<div class="btn btn-blue bttn">查询</div>
		</div>
		<div class="main-block main1">
			<div class="title">常用搜索</div>
			<span ng-click="stateGo('index.caseSearch',true)">案件查询</span>
			<span ng-click="stateGo('index.placeSearch',true)">行业场所</span>
			<span ng-click="stateGo('index.clueSearch',true)">线索查询</span>
		</div>
	</div>				
</div>

